.nav
  .te-cont
    a(href="http://localhost:3000/").logo-txt.telly.v-align-c
      | Telly
      span.logo-txt.ex Ex
  .colr1
  .colr2
  .colr3
  .nav-container
    a.nav-item.navf.nav-home(href='http://localhost:3000/') Home
    a.nav-item.nav-about(href='/about') About Us
    a.nav-item.nav-what(href='/what') Our Service
    a.nav-item.nav-quote(href='/quote') Get A Quote
    a.nav-item.nav-contact(href='/contact') Contact Us