.pullup
  span.pul-banner  Get A Quote
  .pullup-wrapper.v-align-p
    .col1.v-align-c
      .rw1
        h1 You Have An
        .model-container
          span(class="pull-model", data-attr="qkModel", data-val="1") iPhone 5
          span(class="pull-model", data-attr="qkModel", data-val="2") iPhone 5s
          span(class="pull-model", data-attr="qkModel", data-val="3") iPhone 6
          span(class="pull-model", data-attr="qkModel", data-val="4") iPhone 6+
      .rw2
        h1 That Has
        .dmg-container
          .dmg(class="pull-dmg", data-attr="qkScrn", data-val="1")
            img(src="images/pullup-scrn.svg", alt="A Broken Screen")
            span A Broken Screen
          .dmg(class="pull-dmg", data-attr="qkPwr", data-val="1")
            img(src="images/pullup-pwr.svg", alt="A Power Problem")
            span A Power Problem
          .dmg(class="pull-dmg", data-attr="qkBatt", data-val="1")
            img(src="images/pullup-batt.svg", alt="A Battery Problem")
            span A Bad Battery
          .dmg(class="pull-dmg", data-attr="qkIcld", data-val="1")
            img(src="images/pullup-icld.svg", alt="An iCloud Lock")
            span An iCloud Lock
    .col2.v-align-c
      h1 
        | You Could Get Up To<br>
        span.pull-cash#cashVal <!--¯\_(ツ)_/¯--> <-----<br>
        | For Your Phone!
      a(href="/quote").pink-link Find Out How!