.page-wrapper.parent-align
  .middle-align
    .product-container
      .product.iphone5
        span.abs-middle-algin iPhone 5
      .product.iphone5s
        span.abs-middle-algin iPhone 5s
      .product.iphone6
        span.abs-middle-algin iPhone 6
      .product.iphone6p
        span.abs-middle-algin iPhone 6p
        span= price

  //-   table.iphn-container
  //-     tr.ipn-txt
  //-       th.model-header Model
  //-       th.base-header Base Price
  //-       th.discount-header Your Discount
  //-       th.price-header You'll Pay
  //-     tr.ipn-txt
  //-       td.model-txt.4 iPhone 6+
  //-       td.base-txt.4 $###
  //-       td.discount-txt.4 $###
  //-       td.price-txt.4 $###
  //-     tr.ipn-txt
  //-       td.model-txt.3 iPhone 6
  //-       td.base-txt.3 $###
  //-       td.discount-txt.3 $###
  //-       td.price-txt.3 $###
  //-     tr.ipn-txt
  //-       td.model-txt.2 iPhone 5s
  //-       td.base-txt.2 $###
  //-       td.discount-txt.2 $###
  //-       td.price-txt.2 $###
  //-     tr.ipn-txt
  //-       td.model-txt.1 iPhone 5
  //-       td.base-txt.1 $###
  //-       td.discount-txt.1 $###
  //-       td.price-txt.1 $###
  //- .cash-container
  //-   button.cash-btn Nah, I'd rather have cash.