//--------------------------
//--------------------------
//--------------------------

// import modules
@import "modules/modules.sass"

//--------------------------
//--------------------------
//--------------------------

// global variables //

$pullupHeight: 40px

// global styles //

.nav-home 
  // highlights current page
  border-color: #2c4151

.full-width
  width: 100%

.c-wrapper
  width: 95%
  max-width: 1100px

.content-header
  width: 80%
  
  margin: 0 auto .6em auto
  padding-bottom: 0.3em

  line-height: 115%

  border-bottom: 1px solid #ddd

.left, .right
  width: 50%
  height: 100%
  text-align: center

//--------------------------
//--------------------------
//--------------------------

// intro block //

.intro-wrapper
  height: 100%

.intro-content
  display: flex
  align-items: center

  // to account for pullup height
  height: calc(100% - #{$pullupHeight})

  margin: 0 auto

  > .left
    height: auto

    > .page-title
      padding-bottom: .7em

  > .right
    height: auto

    > .brkn-phn-img
      max-width: 55%

// end intro block //

//--------------------------

// blue bar block //

.blue-bar
  background-color: #678ba9
  margin-top: 3rem

  > .blue-bar-container
    display: flex
    justify-content: space-around

    width: 95%
    max-width: 1300px

    margin: 0rem auto
    padding: 3rem


    text-align: center

    > .blue-bar-buttons
      width: 33.33%
  
    > .blue-bar-buttons > img
      display: block
      margin: 0 auto
      padding-top: 3em
      position: relative
      bottom: 0
      height: 13vw
      transition: all .2s ease-in-out
      border-bottom: 1px solid tranparent

      &:hover
        bottom: 10px

.black-bar
  background-color: #131313
  padding: 1.5rem 0
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .75)
  transition: max-height .2s ease-in-out

  > .placeholder-text
    display: block
    text-align: center
    color: #737373
    font-style: italic


  > .black-bar-content-wrapper
    border-top: 1px dashed #486a85
    border-bottom: 1px dashed #486a85

    > .black-bar-header, .black-bar-text
      color: white
      text-align: left
      font-family: 'Open Sans', sans-serif
      margin: 0 auto

    > .black-bar-header
      width: 65%
      padding: 3rem 0

    > .black-bar-text
      display: block
      width: 75%
      padding-bottom: 3rem
      line-height: 200%

.black-arrow-container
  position: relative
  width: 95%
  height: 20px
  max-width: 1300px
  display: none

  margin: 0rem auto

  &#form > .black-arrow
    left: calc(1/6*100%)

  &#us > .black-arrow
    left: 50%

  &#you > .black-arrow
    left: calc(5/6*100%)

.black-arrow
  position: absolute
  height: 0
  width: 0
  transition: left .3s ease-in-out
  border-left: 27px solid transparent
  border-right: 27px solid transparent
  border-bottom: 27px solid #131313

// end blue bar block //

//--------------------------

// exchange block //

.exchange
  display: flex
  align-items: center

  margin: 8em auto

  > .left
    width: 60%

  > .right 
    width: 40%
    text-align: right

    > img
      max-width: 70%

// end exchange block //

//--------------------------

// flowchart block //

.flowchart
  display: flex
  align-items: center

  margin: 8em auto

  > .left 
    width: 40%
    text-align: left

    > img
      max-width: 80%

  > .right 
    width: 60%

    > p
      margin-bottom: 3.5em

      &:last-of-type
        margin-bottom: 0

// end flowchart block //

//--------------------------

// orange bar //


/* fourth */
.orange-bar
  background-color: #fbaf5d
  text-align: center
  padding: 5em 0
  margin: 3em 0 5em 0

  > h1
    color: #fcfcfc
    padding-bottom: .5em

  > span
    color: #fcfcfc

    > a
      font-size: inherit
